 Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
var/
venv/
node_modules/
*.egg-info/
.installed.cfg
*.egg

# Compiled Python bytecode
*.py[cod]
__pycache__
.pytest_cache

# JetBrains IDE
.idea/
**/.vscode/

# local env file
.env
/volume/


#frontend

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*