 Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
var/
venv/
node_modules/
*.egg-info/
.installed.cfg
*.egg

# Compiled Python bytecode
*.py[cod]
__pycache__
.pytest_cache

# JetBrains IDE
.idea/
**/.vscode/

# local env file
.env
/volume/
